# R Packages with Versions

# Shiny and Dashboard
shiny
shinydashboard

# LaTeX Expression Rendering
latex2exp

# Data Manipulation and Visualization
tidyverse
plotly
reshape2
viridis

# Statistical Analysis and Machine Learning
e1071
MCMCpack
LaplacesDemon
invgamma
mvtnorm

# Bootstrap Themes
bslib
R.utils

# Excel Data Import
readxl

# Interval Computation
HDInterval
